node red flow code.txt
[{"id":"9d2bb821.b6cc88","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1955a8bb.51a0f7","type":"debug","z":"9d2bb821.b6cc88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":180,"wires":[]},{"id":"4006b74c.510e58","type":"ibmiot in","z":"9d2bb821.b6cc88","authentication":"apiKey","apiKey":"b622e6d0.6568c8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"123456","applicationId":"","deviceType":"rasberrypi","eventType":"","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":310,"y":180,"wires":[["1955a8bb.51a0f7","e157db1a.dfa4a8","a0383c0d.95ac","5e68ab01.333644"]]},{"id":"e157db1a.dfa4a8","type":"function","z":"9d2bb821.b6cc88","name":"Voltage","func":"global.set('voltage',msg.payload.Voltage)\nmsg.payload=msg.payload.Voltage\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":80,"wires":[["1955a8bb.51a0f7","cc73acf1.8969a"]]},{"id":"a0383c0d.95ac","type":"function","z":"9d2bb821.b6cc88","name":"Current","func":"global.set('current',msg.payload.Current)\nmsg.payload=msg.payload.Current\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":240,"wires":[["1955a8bb.51a0f7","3183c91a.d45636"]]},{"id":"5e68ab01.333644","type":"function","z":"9d2bb821.b6cc88","name":"Power","func":"global.set('power',msg.payload.Power)\nmsg.payload=msg.payload.Power\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":340,"wires":[["1955a8bb.51a0f7","da16b5aa.9811d8"]]},{"id":"edf6502e.d6e34","type":"function","z":"9d2bb821.b6cc88","name":"data","func":"msg.payload={'voltage':global.get(\"voltage\"),  'current':global.get(\"current\"),  'power':global.get(\"power\")}\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":440,"wires":[["bd9ff6ad.aded58"]]},{"id":"1d446048.857ab","type":"http in","z":"9d2bb821.b6cc88","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":360,"y":440,"wires":[["edf6502e.d6e34"]]},{"id":"bd9ff6ad.aded58","type":"http response","z":"9d2bb821.b6cc88","name":"","statusCode":"","headers":{},"x":820,"y":440,"wires":[]},{"id":"c95d7fcb.2aab1","type":"http in","z":"9d2bb821.b6cc88","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":360,"y":520,"wires":[["8ff07bc3.91d518"]]},{"id":"71fb382f.037c28","type":"http response","z":"9d2bb821.b6cc88","name":"","statusCode":"","headers":{},"x":820,"y":520,"wires":[]},{"id":"8ff07bc3.91d518","type":"function","z":"9d2bb821.b6cc88","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":520,"wires":[["71fb382f.037c28","221f729a.61deae","26861c45.b1b6b4"]]},{"id":"221f729a.61deae","type":"debug","z":"9d2bb821.b6cc88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1050,"y":460,"wires":[]},{"id":"26861c45.b1b6b4","type":"ibmiot out","z":"9d2bb821.b6cc88","authentication":"apiKey","apiKey":"b622e6d0.6568c8","outputType":"cmd","deviceId":"123456","deviceType":"rasberrypi","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":680,"y":640,"wires":[]},{"id":"cc73acf1.8969a","type":"ui_gauge","z":"9d2bb821.b6cc88","name":"","group":"1dcb701a.54436","order":1,"width":0,"height":0,"gtype":"gage","title":"Voltage","label":"units","format":"{{value}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1090,"y":120,"wires":[]},{"id":"3183c91a.d45636","type":"ui_gauge","z":"9d2bb821.b6cc88","name":"","group":"1dcb701a.54436","order":2,"width":0,"height":0,"gtype":"gage","title":"current","label":"units","format":"{{value}}","min":0,"max":"220","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1050,"y":240,"wires":[]},{"id":"da16b5aa.9811d8","type":"ui_gauge","z":"9d2bb821.b6cc88","name":"","group":"1dcb701a.54436","order":3,"width":0,"height":0,"gtype":"gage","title":"power","label":"units","format":"{{value}}","min":0,"max":"1100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1020,"y":340,"wires":[]},{"id":"71764749.f6b568","type":"ui_button","z":"9d2bb821.b6cc88","name":"","group":"1dcb701a.54436","order":4,"width":0,"height":0,"passthru":false,"label":"MeterON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"Meter ON\"}","payloadType":"json","topic":"","x":310,"y":660,"wires":[["26861c45.b1b6b4","ce15e32b.5f689"]]},{"id":"90b5e401.7e2078","type":"ui_button","z":"9d2bb821.b6cc88","name":"","group":"1dcb701a.54436","order":5,"width":0,"height":0,"passthru":false,"label":"MeterOFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"MeterOFF\"}","payloadType":"json","topic":"","x":320,"y":760,"wires":[["26861c45.b1b6b4","ce15e32b.5f689"]]},{"id":"ce15e32b.5f689","type":"debug","z":"9d2bb821.b6cc88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":760,"wires":[]},{"id":"b622e6d0.6568c8","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"1dcb701a.54436","type":"ui_group","z":"","name":"Default","tab":"95323f09.1b943","order":1,"disp":true,"width":"6","collapse":false},{"id":"95323f09.1b943","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]